.content .container {
  display: flex;
  flex-flow: row;
  margin: 20px auto;
}
.left-nav {
  padding: 0 10px;
  width: 20.8333%;
  min-height: 500px;
}
.left-nav-list {
  padding 33px 0px 50px;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
}
.main-view {
  width: 79%;
  padding: 0 10px;
}

.nav
  width 100%
  height 70px
  background $bg
  color white
.nav-container
  display flex
  flex-flow row
  align-items center
  .logo img
    height 60px
    color white
.user-info
  display flex
  flex-flow row
  margin-left auto
.user-photo
  width 40px
  height 40px
  border-radius 50%
  margin-right 25px
  background pink
.user-other
  display flex
  flex-flow column
.user-name
  font-size 16px
.user-tag
  display inline-block
  font-size 12px
  line-height 18px
  padding 0 6px
  background $color
.left-nav-item
  a:hover
    background-color #ff6565
    color white
  a
    display: block
    width: 100%
    padding: 10px 0 10px 68px
    line-height: 20px
    position: relative
    font-size: 14px
    quotes: 2
  i
    float left
.l-flex
  display flex
  flex-flow row
.home__top
  height 140px
.home__top--count
  height 100%
  width 780px
  align-items center
  background-color #f4f4f4
  div
    text-align center
    flex-grow 1
    .name
      color: #757575
      line-height: 22px
      font-size: 14px
      font-weight: 200
    .number
      margin: 8px 0 0
      font-size: 26px
      line-height: 37px
      font-weight: 700
      color #666666
.home__top--release
  padding: 8px 12px
  font-size: 14px
  min-width: 32px
  background-color: #ff6565
  border-color: #ff6565
  color: #fff
  width: 130px
  height: 140px
  margin-left: 20px
  font-weight: normal
  span
     font-weight 300
.home__banner
  margin-top: 20px
  width: 100%
  height: 122px
  overflow: hidden
  border-radius: 3px
  background-color pink

.home__article
  margin-top: 20px
  border: 1px solid #ddd
  padding-bottom: 40px
.home__article__tab
  height: 44px
  border-bottom: 1px solid #d0d0d0
  background: #eaeaea
  line-height: 44px
  margin-left -1px
  div
    float: left
    margin: 0 2px 0 0
    font-size: 14px
    height: 44px
    line-height: 45px
    width: 111px
    text-align: center
    cursor: pointer
  .active
    border-bottom: 2px solid #ff5f5f
    cursor: pointer
    color: #ffffff
    background: #ff5f5f
    background: -moz-linear-gradient(top, #e1e1e1, #fff);
    -webkit-transition: all .2s ease-out
    transition: all .2s ease-out

.left-nav-title
  padding: 10px 0 10px 70px;
  color: #999;
  border-top: 1px solid #ddd;
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 22px;
  font-size: 14px;
.home__article__content
  padding 20px 0

  .list li
    height 45px
    line-height 45px
    padding 0 20px
    &:hover
      background: #e6e6e6;
      cursor pointer
    a
      display: block;
      font-size: 14px;
      color: #333;
      float: left;
      &:hover
        color: #ff6565;
    span
      float: right;
      color: #999;
