.manage__content
  padding 20px 0
.form__select select
  width: 150px;
  height: 40px;
  border-radius: 0;
  line-height: 32px;
  box-shadow: none!important;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 13px;
.form-search
  width 600px
  input
    overflow: hidden;
    width: 86%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 0;
    outline: 0;
    padding-left: 10px;
    float: left;
    -webkit-transition: border .2s ease-out;
    transition: border .2s ease-out;
  button
    float: left;
    color: #333!important;
    width: 80px;
    height: 40px;
    background-color: #f4f4f4!important;
    border: 1px solid #ddd!important;
    border-left: 0!important;
    font-size: 16px;
    border-radius: 0;
.manage__form
  display flex
  flex-flow row
  justify-content space-between
.article__item:first-child
  border-top: 1px solid #ddd;
.article__item
  position: relative;
  font-size: 16px;
  border: 1px solid #ddd;
  border-top: 0;
  width: 100%;
  height: 140px;
  display flex
  flex-flow row
  align-items center
  .img
    overflow: hidden;
    background-color: #eee;
    height: 95px;
    width: 133px;
    margin: 20px;
  .mes
    .title
      word-break: break-all;
      margin-left: 20px;
      margin-bottom: 20px;
      a
        color: #666;
        text-decoration: none;
        -webkit-transition: color .3s;
        transition: color .3s;
    .small
      display: inline-block;
      border-radius: 2px;
      margin-left: 6px;
      padding: 1px 6px;
      font-size: 12px;
      color: #3b77be;
      border: 1px solid #3b77be;
      margin-right: 6px;
    .data
      margin-left: 20px;
      font-size: 12px;
      color: #a5a5a5;
  .operate
    font-size: 14px;
    color: #3b77be;
    margin-left: 20px;
    cursor: pointer;
    background: none;
    border: none;
.article__total
  color: #666;
  margin: 40px 0 20px 20px;
  font-size: 14px;
  span
     color #ff5f5f